body {
    background-image:url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: auto;
    background-repeat: round;
  }

div.title {
    background-image:url('images/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: auto;
    height: 150px;
    width: 820px;
    margin-left:auto;
    margin-right:auto;
}

div.headerContent {
    margin-left:auto;
    margin-right:auto;
    width :400px;
    height: 150px;
}

h1 {
    color: black;
    font-family: Garamond, serif;
    font-size: 70px;
    margin-top: 0px;
    padding-top: 30px;
}

h2 {
    color: black;   
    font-family: Garamond, serif;
    font-size: 40px;
    margin-top: 0px;
    padding-top: 40px;
}

div.content {
    margin-left:auto;
    margin-right:auto;
    padding: 10px 10px 10px 10px;
    width :800px;
    background-color: rgba(255,255,255,0.95);
}

code.new {
    color: red;
}

h3 {
    color: black;
    font-size: 30px;
    font-family: Garamond, serif;
}
p ,li {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

img.componentImages {
    width: 200px;
    height: 200px;
    padding-left: 200px;
    transition:transform 0.5s ease;
}

.componentImages:hover {
    transform: scale(2);
  }

  img.stepImages {
    width: 200px;
    height: 200px;
    transition:transform 0.5s ease;
}

.stepImages:hover {
    transform: scale(3);
  }